<div
 class="container bootstrap_snippet"
>
  <div
   class="row"
  >
   <div
    class="col-md-3"
    id="profilePic"
   >
    <div class="text-center">
      <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      <h6>Upload a different photo...</h6>
    </div><hr><br>
   </div>
   <div
    class="col-md-9"
   >
    <div
     class="tab-content"
    >
     <div
      class="tab-pane active"
     >
       <div
        class="col-md-4"
        id="firstNameShow"
       >
          <p><%= t('first name') %><h4>
            <%= current_user.first_name %></h4></p>
       </div>
       <div
        class="col-md-4"
        id="middleName"
       >
       <p><%= t('middle name') %><h4>
         <%= current_user.middle_name %></h4></p>
      </div>
      <div
      class="col-md-4"
      >
      <p><%= t('last name') %><h4>
        <%= current_user.last_name %></h4></p>
      </div>
      <hr>
      <div
       class="col-md-4"
       id="checkupTable"
      >
       <table
        class='table table-bordered'
       >
       <h4><%= t('All Checkups') %></h4>
       <thead>
          <tr>
           <th
            id="dateHead"
           >
             <%= t('date') %>
           </th>
          </tr>
       </thead>
         <tbody>
           <% @user.checkups.each do |checkup|  %>
             <tr>
               <td><%= link_to checkup.created_at.strftime("%a %b %e %T %Y"), checkup_path(checkup) %></td>
             </tr>
          <% end %>
        </tbody>
      </table>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
