<div
 class="container"
>
 <div
  class="row"
 >
  <div
   class="col-md-12"
  >

      <h3><%= t('All Checkups') %></h3>

      <% @checkups.each do |checkup|  %>
        <% if checkup.user_id === current_user.id %>
          <p><%= t('name') %> : <%= checkup.first_name %> </p>
          <p><%= t('date') %> : <%= checkup.created_at.strftime("%a %b %e") %></p>
          <p><%= t('time') %> : <%= checkup.created_at.strftime("%T") %></p>
          <p><%= t('checkup') %> : <%= link_to(t('link_text.checkup'), checkup_path(checkup)) %></p>
        <% end %>
      <% end %>
   </div>
   <div>
     <%= link_to(t('link_text.create_checkup'), new_checkup_path ) %>
   </div>
  </div>
</div>
